[Desktop Entry]
Name=Tooka
GenericName=Tooka
Comment=A rule-based file sorter
Exec=tooka
Terminal=true
Type=Application
Icon=io.github.tooka_org.tooka
Categories=Utility;ConsoleOnly;FileTools
StartupNotify=true